Source: nextcloud-app-contacts
Section: web
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>,
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 debhelper (>= 9),
 quilt
Standards-Version: 3.9.5

Package: nextcloud-app-contacts
Architecture: all
Depends:
 ${misc:Depends},
 nextcloud-server,
 spreedbox-php (>= 0.1.1)
Description: Contacts app for Nextcloud
 This package installs the contacts app for Nextcloud.
 .
 The onwCloud Contacts app is similar to other mobile contact applications, but
 with more functionality. When you first access the Contacts app, a default
 address book becomes available.
